@theme {
  --color-*: initial;

  --color-gray-950: #1f1f22;
  --color-gray-900: #323236;
  --color-gray-800: #49494c;
  --color-gray-700: #5d5d61;
  --color-gray-600: #707177;
  --color-gray-500: #84858c;
  --color-gray-400: #9fa0a7;
  --color-gray-300: #b3b4bc;
  --color-gray-200: #c6c8cf;
  --color-gray-100: #e0e0e5;
  --color-gray-50: #edeef2;
  --color-gray-25: #f8f8f8;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-50: #1b1b1b;
  --color-red-50: #fcecea;
  --color-red-400: #f96767;
  --color-red-500: #ff2727;
  --color-primary-100: #e5f3ff;
  --color-primary-500: #3d9ef2;
  --color-orange-400: #ffb051;
  --color-orange-50: #fff8dd;
  --color-green-50: #e9fbe4;
  --color-green-600: #2ba90d;
  --color-blue-50: #daf0ff;
  --color-blue-600: #0d6cd1;
  --color-cyan-50: #ddf9f9;
  --color-cyan-600: #1790a0;
}
