@theme {
  --text-*: initial;
  --leading-*: initial;

  /* Font Sizes */
  --text-2xs: 0.625rem; /* 10px */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.8125rem; /* 13px */
  --text-md: 0.875rem; /* 14px */
  --text-lg: 1rem; /* 16px */
  --text-xl: 1.125rem; /* 18px */
  --text-2xl: 1.25rem; /* 20px */
  --text-3xl: 1.5rem; /* 24px */
  --text-4xl: 2rem; /* 32px */

  /* Line Heights */
  --leading-auto: normal;
  --leading-md: 0.875rem;
  --leading-lg: 1rem;
  --leading-xl: 1.125rem;
  --leading-2xl: 1.25rem;
}

/* 10px */
@utility font-2xs-medium {
  font-size: var(--text-2xs);
  line-height: var(--leading-auto);
  font-weight: 500;
}

@utility font-2xs-bold {
  font-size: var(--text-2xs);
  line-height: var(--leading-auto);
  font-weight: 700;
}

/* 12px */
@utility font-xs-medium {
  font-size: var(--text-xs);
  line-height: var(--leading-auto);
  font-weight: 500;
}

@utility font-xs-bold {
  font-size: var(--text-xs);
  line-height: var(--leading-auto);
  font-weight: 700;
}

/* 13px */
@utility font-sm-medium {
  font-size: var(--text-sm);
  line-height: var(--leading-auto);
  font-weight: 500;
}

@utility font-sm-bold {
  font-size: var(--text-sm);
  line-height: var(--leading-auto);
  font-weight: 700;
}

/* 14px */
@utility font-md-medium {
  font-size: var(--text-md);
  line-height: var(--leading-auto);
  font-weight: 500;
}

@utility font-md-bold {
  font-size: var(--text-md);
  line-height: var(--leading-auto);
  font-weight: 700;
}

@utility font-md-medium-180 {
  font-size: var(--text-md);
  line-height: var(--leading-md);
  font-weight: 500;
}

/* 16px */
@utility font-lg-medium {
  font-size: var(--text-lg);
  line-height: var(--leading-auto);
  font-weight: 500;
}

@utility font-lg-bold {
  font-size: var(--text-lg);
  line-height: var(--leading-auto);
  font-weight: 700;
}

@utility font-lg-medium-180 {
  font-size: var(--text-lg);
  line-height: var(--leading-md);
  font-weight: 500;
}

/* 18px */
@utility font-xl-medium {
  font-size: var(--text-xl);
  line-height: var(--leading-auto);
  font-weight: 500;
}

@utility font-xl-bold {
  font-size: var(--text-xl);
  line-height: var(--leading-xl);
  font-weight: 700;
}

/* 20px */
@utility font-2xl-medium {
  font-size: var(--text-2xl);
  line-height: var(--leading-auto);
  font-weight: 500;
}

@utility font-2xl-bold {
  font-size: var(--text-2xl);
  line-height: var(--leading-2xl);
  font-weight: 700;
}

/* 24px */
@utility font-3xl-medium {
  font-size: var(--text-3xl);
  line-height: var(--leading-auto);
  font-weight: 500;
}

@utility font-3xl-bold {
  font-size: var(--text-3xl);
  line-height: var(--leading-auto);
  font-weight: 700;
}

/* 32px */
@utility font-4xl-medium {
  font-size: var(--text-4xl);
  line-height: var(--leading-auto);
  font-weight: 500;
}

@utility font-4xl-bold {
  font-size: var(--text-4xl);
  line-height: var(--leading-auto);
  font-weight: 700;
}
