@import 'tailwindcss';
@import './base/colors.css';
@import './base/font-utilities.css';
@import './base/font.css';

@layer utilities {
  /* Chrome, Safari */
  input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }

  /* Edge */
  input[type='search']::-ms-clear {
    display: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
